//same as main.scss previously
@import 'theme';
@import 'bootstrap/bootstrap';

// your styles here (note that you can use Bootstrap variables from _variables.scss in here too)
.example {
  color: red;
  background-color: $purple;
}

.hero{
	background-image: url(../images/hero1.jpg);
	background-position: center;
	background-size: cover;
	padding-top: 1vh;
  	padding-bottom: 12.5vh;
  	background-repeat: no-repeat;
  	min-height: 70vh;
}

.designer-image{
	background-image: url(../images/headshot2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
  	min-height: 40vh;
	margin: 4rem 2rem 3rem 1.75rem;
	box-sizing: border-box;
	-webkit-box-shadow: -10px 14px 24px -3px rgba(0,0,0,0.21);
	-moz-box-shadow: -10px 14px 24px -3px rgba(0,0,0,0.21);
	box-shadow: -10px 14px 24px -3px rgba(0,0,0,0.21);
}

.about-text{
	margin:5em;
}

.position{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #8ba3a6;
}

.city{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #8ba3a6;
}

.company{
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 2rem;
}

.map{
	background-color: #f4f4f4;
	min-height: 40vh;
	margin:4rem 1.75rem 3rem 2rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-box-shadow: 7px 10px 22px 2px rgba(0,0,0,0.21);
	-moz-box-shadow: 7px 10px 22px 2px rgba(0,0,0,0.21);
	box-shadow: 7px 10px 22px 2px rgba(0,0,0,0.21);
}

img{
	width: 100%;
	display: block;
}

.img-responsive{
	margin: auto;
	width: 12rem;
	display: block;
	position: relative;
	margin-bottom: 2rem;
	// opacity: 0.8;
	@include media-breakpoint-up(md) {
		width: 15rem;
	}
}

.img-responsive-2{
	margin: auto;
	width: 10rem;
	display: block;
	position: relative;
	margin-bottom: 2rem;
	// opacity: 0.8;
	@include media-breakpoint-up(md) {
		width: 15rem;
		// margin-bottom: 3rem;
	}
}

.project-container{
	display:flex;
	flex-wrap:wrap;
	padding: 0.5em;
	position:relative;
	width:80%;
	justify-content: center;
	margin: auto;
}

.project-container>div{
	flex: 1 0 100%;
	margin: 0.5em;
	@include media-breakpoint-up(md) {
		flex: 0 0 30%;
	}
}

.project-container:hover>div{
	opacity: 0.1;
}

.project-container:hover>div:hover{
	opacity: 1;
}

.project-container .info{
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: 0s;	
	@include media-breakpoint-up(md) {
		top: 40%;
    	left: 0%;
    	position: absolute;
    	transform: translate(-50%, -50%);
		transform: translateY(4em);
		opacity:0;
	}
}

.project-container>div:hover>.info{
	transform: translateY(0);
	opacity:1;
	transition: all 0.5s ease;
}

.info>h1{
	text-align:center;
	text-transform: uppercase;
	font-size: 1.3rem;
	@include media-breakpoint-up(md) {
		font-size: 4rem;
		text-transform: uppercase;
	}
}

.project-container .twig{
	margin: auto;
	width: 6em;
	@include media-breakpoint-up(md) {
		width: 12rem;
	}
}

.pop-up{
	height: 100%;
}

.arrows{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 0.5rem;
}

.arrows>i{
	font-size: 1rem;
	@include media-breakpoint-up(md) {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
}

.arrows>.fa-angle-down{
	padding-right: 0.2rem;
	@include media-breakpoint-up(md) {
		padding-right: 1rem;
	}
}

.arrows>.fa-angle-up{
	padding-left: 0.2rem;
	@include media-breakpoint-up(md) {
		padding-left: 1rem;
	}
}

.camera-graph{
	background-image: url(http://via.placeholder.com/350x150);
	background-color: #f4f4f4;
	min-height: 40vh;
	margin:0rem 1.75rem 3rem 1rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.title>h2{
	text-transform: uppercase;
	margin-bottom: 1.2rem;
	font-size: 1.3rem;
	@include media-breakpoint-up(md) {
		margin-bottom: 2rem;
		padding-top: 4rem;
		font-size: 3rem;
	}
}

#views{
	width: 400px;
	height: 400px;
	border:thin gray solid;
}

#appreciations{
	width: 400px;
	height: 400px;
	border:thin gray solid;
}

#followers{
	width: 400px;
	height: 400px;
	border:thin gray solid;
}

#following{
	width: 400px;
	height: 400px;
	border:thin gray solid;
}

ul{
	list-style-type: none;
	flex-direction: row;
	font-size: 2rem;
	margin-top: 1rem;
	justify-content: space-evenly;
	padding-left: 0;
	width: 30%;
	@include media-breakpoint-up(md) {
		font-size: 2rem;
		margin-top: 3rem;

	}
}

hr{
	width: 45%;
	border-width: 4px;
}

.sm-links{
	width: 100%;
}










