@import 'theme';
@import 'bootstrap/bootstrap';

// your styles here (note that you can use Bootstrap variables from _variables.scss in here too)
.example {
  color: red;
  background-color: $purple;
}

.hero{
	background-image: url(../images/hero-img1.jpg);
	background-position: center;
	background-size: cover;
	padding-top: 1vh;
  	padding-bottom: 12.5vh;
  	background-repeat: no-repeat;
  	min-height: 70vh;
}